NEXT_PUBLIC_FIREBASE_API_KEY='AIzaSyB6_twOhogk9QSRWVQQ1QAekLed-cqNVgQ'
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN='contact-database-9c47b.firebaseapp.com'
NEXT_PUBLIC_FIREBASE_PROJECT_ID='contact-database-9c47b'
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET='contact-database-9c47b.appspot.com'
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID='118822537955'
NEXT_PUBLIC_FIREBASE_APP_ID='1:118822537955:web:3ef795baeadbe37b7293d6'

FIREBASE_ADMIN_SERVICE_ACCOUNT='/path/to/admin-sa.json'
